/* HOME PAGE */

.ezy__nav2_hwwNIZPV {
	/* Bootstrap variables */
	--bs-body-color: #000;
	--bs-body-bg: rgb(255, 255, 255);

	/* Easy Frontend variables */
	--ezy-theme-color: rgb(13, 110, 253);
	--ezy-theme-color-rgb: 13, 110, 253;

	background-color: var(--bs-body-bg);
}

/* Gray Block Style */
.gray .ezy__nav2_hwwNIZPV,
.ezy__nav2_hwwNIZPV.gray {
	/* Bootstrap variables */
	--bs-body-bg: rgb(246, 246, 246);
}

/* Dark Gray Block Style */
.dark-gray .ezy__nav2_hwwNIZPV,
.ezy__nav2_hwwNIZPV.dark-gray {
	/* Bootstrap variables */
	--bs-body-color: #ffffff;
	--bs-body-bg: rgb(30, 39, 53);
}

/* Dark Block Style */
.dark .ezy__nav2_hwwNIZPV,
.ezy__nav2_hwwNIZPV.dark {
	/* Bootstrap variables */
	--bs-body-color: #ffffff;
	--bs-body-bg: rgb(11, 23, 39);


}

.ezy__nav2_hwwNIZPV .navbar-brand {
	font-weight: 800;
	font-size: 30px;
	color: var(--bs-body-color);
}

.ezy__nav2_hwwNIZPV .navbar-toggler {
	border: none;
	box-shadow: none !important;
}

.ezy__nav2_hwwNIZPV .navbar-toggler>span {
	display: flex;
	align-items: center;
	height: 32px;
}

.ezy__nav2_hwwNIZPV .navbar-toggler>span>span {
	position: relative;
}

.ezy__nav2_hwwNIZPV .navbar-toggler>span>span,
.ezy__nav2_hwwNIZPV .navbar-toggler>span>span::before,
.ezy__nav2_hwwNIZPV .navbar-toggler>span>span::after {
	height: 2px;
	background-color: var(--bs-body-color);
	width: 25px;
	display: inline-block;
	border-radius: 5px;
	transition: all .35s ease-in-out;
}

.ezy__nav2_hwwNIZPV .navbar-toggler>span>span::before,
.ezy__nav2_hwwNIZPV .navbar-toggler>span>span::after {
	content: '';
	position: absolute;
	left: 0;
}

.ezy__nav2_hwwNIZPV .navbar-toggler[aria-expanded="false"]>span>span::before {
	top: 7px;
}

.ezy__nav2_hwwNIZPV .navbar-toggler[aria-expanded="false"]>span>span::after {
	bottom: 7px;
}

.ezy__nav2_hwwNIZPV .navbar-toggler[aria-expanded="true"]>span>span {
	background-color: transparent;
}

.ezy__nav2_hwwNIZPV .navbar-toggler[aria-expanded="true"]>span>span::before {
	top: 0;
	transform: rotate(-45deg);
}

.ezy__nav2_hwwNIZPV .navbar-toggler[aria-expanded="true"]>span>span::after {
	bottom: 0;
	transform: rotate(45deg);
}

.ezy__nav2_hwwNIZPV .navbar-nav .nav-link {
	color: var(--bs-body-color);
	opacity: .6;
}

.ezy__nav2_hwwNIZPV .navbar-nav .nav-link:hover,
.ezy__nav2_hwwNIZPV .navbar-nav .nav-link:focus,
.ezy__nav2_hwwNIZPV .navbar-nav .nav-link.active {
	color: var(--bs-body-color);
	opacity: 1;
}

@media (min-width: 992px) {
	.ezy__nav2_hwwNIZPV .navbar-nav .nav-link {
		padding-right: 16px;
		padding-left: 16px;
	}
}

/* btns */
.ezy__nav2_hwwNIZPV .btn-primary {
	background-color: var(--ezy-theme-color);
	border-color: var(--ezy-theme-color);
}

.ezy__nav2_hwwNIZPV .btn-primary:hover {
	background-color: rgba(var(--ezy-theme-color-rgb), .9);
	border-color: rgba(var(--ezy-theme-color-rgb), .9);
}

.ezy__nav2_hwwNIZPV .btn-outline-primary {
	color: var(--ezy-theme-color);
	border-color: var(--ezy-theme-color);
}

.ezy__nav2_hwwNIZPV .btn-outline-primary:hover {
	color: #fff;
	background-color: rgba(var(--ezy-theme-color-rgb), .9);
	border-color: rgba(var(--ezy-theme-color-rgb), .9);
}

.ezy__header22 {
  /* Bootstrap variables */
  --bs-body-color: #373572;
  --bs-body-bg: #fff;

  /* Easy Frontend variables */
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;
  --ezy-shadow: 0px 4px 44px rgba(159, 190, 218, 0.37);

  background-image: url("../images/profile-header-bg.jpg");
  /* background: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.1)), url("../images/profile-header-bg.jpg"); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 60px 0 0 0;
  position: relative;
}

@media (min-width: 768px) {
  .ezy__header22 {
    padding: 100px 0 0 0;
  }
}

/* Gray Block Style */
.gray .ezy__header22,
.ezy__header22.gray {
  /* Bootstrap variables */
  --bs-body-bg: rgb(246, 246, 246);
}

/* Dark Gray Block Style */
.dark-gray .ezy__header22,
.ezy__header22.dark-gray {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(30, 39, 53);

  /* Easy Frontend variables */
  --ezy-shadow: 0px 4px 44px rgba(0, 0, 0, 0.37);
}

/* Dark Block Style */
.dark .ezy__header22,
.ezy__header22.dark {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);

  /* Easy Frontend variables */
  --ezy-shadow: 0px 4px 44px rgba(0, 0, 0, 0.37);
}

.ezy__header22-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  color: var(--bs-body-color);
}

@media (min-width: 768px) {
  .ezy__header22-heading {
    font-size: 70px;
    line-height: 85px;
  }
}

.ezy__header22-sub-heading {
  color: var(--bs-body-color);
  font-size: 22px;
  line-height: 1.5;
  opacity: 1;
}

.ezy__header22-content-wrapper {
  padding-bottom: 60px;
}

@media (min-width: 991px) {
  .ezy__header22-content-wrapper {
    padding-bottom: 130px;
  }
}

.ezy__header22-btn {
  padding: 12px 30px;
  color: #fff;
  box-shadow: var(--ezy-shadow);
  background-color: var(--ezy-theme-color);
  border-color: var(--ezy-theme-color);
}

.ezy__header22-btn:hover {
  color: #fff;
  background-color: rgba(var(--ezy-theme-color-rgb), 0.9);
  border-color: rgba(var(--ezy-theme-color-rgb), 0.9);
}

@media (min-width: 991px) {
  .ezy__header22-thumbnail {
    margin-right: -144px;
  }
}

.ezy__howitworks1_I06SSjgR {
  /* Bootstrap variables */
  --bs-body-color: #23262f;
  --bs-body-bg: rgb(255, 255, 255);

  /* Easy Frontend variables */
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;

  background-color: var(--bs-body-bg);
  overflow: hidden;
  padding: 60px 0;
}

@media (min-width: 768px) {
  .ezy__howitworks1_I06SSjgR {
    padding: 100px 0;
  }
}

/* Gray Block Style */
.gray .ezy__howitworks1_I06SSjgR,
.ezy__howitworks1_I06SSjgR.gray {
  /* Bootstrap variables */
  --bs-body-bg: rgb(246, 246, 246);
}

/* Dark Gray Block Style */
.dark-gray .ezy__howitworks1_I06SSjgR,
.ezy__howitworks1_I06SSjgR.dark-gray {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(30, 39, 53);
}

/* Dark Block Style */
.dark .ezy__howitworks1_I06SSjgR,
.ezy__howitworks1_I06SSjgR.dark {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);
}

.ezy__howitworks1_I06SSjgR-heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  color: var(--bs-body-color);
}
@media (min-width: 768px) {
  .ezy__howitworks1_I06SSjgR-heading {
    font-size: 45px;
  }
}

/* img */
.ezy__howitworks1_I06SSjgR img {
  border-radius: 20px;
}
/* card */
.ezy__howitworks1_I06SSjgR .card {
  background-color: transparent !important;
}

.ezy__howitworks1_I06SSjgR-number {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ezy-theme-color);
  color: #fff;
}
.ezy__howitworks1_I06SSjgR-title {
  font-weight: 500;
  color: var(--bs-body-color);
}
.ezy__howitworks1_I06SSjgR-content {
  color: var(--bs-body-color);
  opacity: 0.8;
}

.ezy__about9_u6x94rYJ {
  /* Bootstrap variables */
  --bs-body-color: #1e2329;
  --bs-body-bg: rgb(255, 255, 255);

  /* Easy Frontend variables */
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;

  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  overflow: hidden;
  padding: 60px 0;
}

@media (min-width: 768px) {
  .ezy__about9_u6x94rYJ {
    padding: 100px 0;
  }
}

/* Gray Block Style */
.gray .ezy__about9_u6x94rYJ,
.ezy__about9_u6x94rYJ.gray {
  /* Bootstrap variables */
  --bs-body-bg: rgb(246, 246, 246);
}

/* Dark Gray Block Style */
.dark-gray .ezy__about9_u6x94rYJ,
.ezy__about9_u6x94rYJ.dark-gray {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(30, 39, 53);
}

/* Dark Block Style */
.dark .ezy__about9_u6x94rYJ,
.ezy__about9_u6x94rYJ.dark {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);
}

.ezy__about9_u6x94rYJ-heading {
  font-size: 32px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.ezy__about9_u6x94rYJ-sub-heading {
  opacity: 0.7;
}

.ezy__about9_u6x94rYJ img {
  border-radius: 15px;
}

.ezy__about9_u6x94rYJ-divider {
  color: var(--ezy-theme-color);
  height: 2px !important;
  border-radius: 3px;
  width: 50px;
  opacity: 1;
}

.ezy__about9_u6x94rYJ .text-primary {
  color: var(--ezy-theme-color) !important;
}
.ezy__about9_u6x94rYJ-features hr {
  width: 90%;
}
.ezy__about9_u6x94rYJ-btn {
  background-color: var(--bs-body-color);
  color: var(--bs-body-bg);
  padding: 8px 25px;
  transition: 0.5s;
}
.ezy__about9_u6x94rYJ-btn:hover {
  color: var(--bs-body-bg);
  opacity: 0.9;
}

.ezy__copyright5_0pNVn6VN {
  /* Bootstrap variables */
  --bs-body-color: #212529;
  --bs-body-bg: rgb(255, 255, 255);

  /* easy frontend variables */
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;

  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}

/* Gray Block Style */
.gray .ezy__copyright5_0pNVn6VN,
.ezy__copyright5_0pNVn6VN.gray {
  /* Bootstrap variables */
  --bs-body-bg: rgb(246, 246, 246);
}

/* Dark Gray Block Style */
.dark-gray .ezy__copyright5_0pNVn6VN,
.ezy__copyright5_0pNVn6VN.dark-gray {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(30, 39, 53);
}

/* Dark Block Style */
.dark .ezy__copyright5_0pNVn6VN,
.ezy__copyright5_0pNVn6VN.dark {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);
}

.ezy__copyright5_0pNVn6VN-nav .nav-link {
  color: var(--bs-body-color);
}

.ezy__copyright5_0pNVn6VN-nav .nav-link:hover {
  color: var(--bs-body-color);
  opacity: .9;
}

.ezy__copyright5_0pNVn6VN-social li {
  list-style-type: none;
  display: inline-block;
  margin: 6px 8px;
}

.ezy__copyright5_0pNVn6VN-social li a {
  color: var(--bs-body-color);
}

.ezy__copyright5_0pNVn6VN-social li a:hover {
  color: var(--ezy-theme-color);
}



/* PROFILE PAGE */

.body-container {
  display: flex;
  position: relative;
  width: 100%;
}

.sidebar-container {
  width: 14rem;
  height: 100vh;
  padding: 1rem 1rem 0 1rem;
  position: sticky;
  font-weight: 600;
  background: rgb(252, 249, 249);
  overflow: auto;
}

.sidebar-tech-links {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: .75rem;
  position: relative;
}

.sidebar-tech-links li {
  transition: background 0.25s;
  border-radius: 5px;
  height: 50px;
  position: relative;
  cursor: pointer;
  display: flex;
  gap: .5rem;
  align-items: center;
  background: rgb(241, 239, 239);
}

.sidebar-tech-links span:first-child {
  padding-left: .5rem;
}

.sidebar-tech-links li:hover {
  background: rgba(199, 201, 202, 0.5);
}

.main {
  flex-basis: 90%;
  height: 100vh;
  overflow: auto;
}

.ezy__header30_amwY6uCW {
  /* Bootstrap variables */
  --bs-body-bg: rgb(255, 255, 255);

  /* Easy Frontend variables */
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;
  --ezy-form-bg: rgba(255, 255, 255, 0.65);

  color: var(--bs-body-color);
  overflow: visible;
  position: relative;
  z-index: 2;
}

/* Gray Block Style */
.gray .ezy__header30_amwY6uCW,
.ezy__header30_amwY6uCW.gray {
  /* Bootstrap variables */
  --bs-body-bg: rgb(246, 246, 246);

  --ezy-form-bg: rgba(246, 246, 246, 0.65);
}

/* Dark Gray Block Style */
.dark-gray .ezy__header30_amwY6uCW,
.ezy__header30_amwY6uCW.dark-gray {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(30, 39, 53);

  --ezy-form-bg: rgba(30, 39, 53, 0.65);
}

/* Dark Block Style */
.dark .ezy__header30_amwY6uCW,
.ezy__header30_amwY6uCW.dark {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);

  --ezy-form-bg: rgba(11, 23, 39, 0.65);
}

.ezy__header30_amwY6uCW-heading {
  font-weight: bold;
  font-size: 32px;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .ezy__header30_amwY6uCW-heading {
    font-size: 60px;
  }
}

.ezy__header30_amwY6uCW-sub-heading {
  font-size: 20px;
  line-height: 1.3;
  opacity: 0.8;
}

/* topbar */
.ezy__header30_amwY6uCW-topbar {
  background-color: var(--bs-body-bg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  color: #ffffff;
}

@media (min-width: 768px) {
  .ezy__header30_amwY6uCW-topbar {
    padding: 220px 0;
  }
}

/* overlay */
.ezy__header30_amwY6uCW-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

/* form */
.ezy__header30_amwY6uCW .form-control {
  min-height: 48px;
  line-height: 40px;
  border-color: transparent;
  background: var(--ezy-form-bg);
  border-radius: 10px;
  color: var(--bs-body-color);
}

.ezy__header30_amwY6uCW .form-control:focus {
  border-color: var(--ezy-theme-color);
  box-shadow: none;
}

.ezy__header30_amwY6uCW-btn {
  padding: 12px 30px;
  color: #fff;
  background-color: var(--ezy-theme-color);
  border-color: var(--ezy-theme-color);
}

.ezy__header30_amwY6uCW-btn:hover {
  color: #fff;
  background-color: rgba(var(--ezy-theme-color-rgb), 0.9);
  border-color: rgba(var(--ezy-theme-color-rgb), 0.9);
}

/* suggestions autocomplete box */

.suggestions-container {
  visibility: hidden;
  padding: .5rem 1rem;
  margin-top: 1rem;
  border: 2px solid rgb(13, 110, 253);
  background: rgb(13, 110, 253);
  border-radius: 5px;
  position: absolute;
  top: 3rem;
  z-index: 10;
  width: 100%;
  list-style: none;
  text-align: left;
}



.suggestions-container li {
  transition: background 0.25s;
  border-radius: 2px;
  height: 45px;
  position: relative;
  cursor: pointer;
  text-align: left;
  padding-left: .5rem;
}

.suggestions-container li span {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

.suggestions-container li:hover {
  background: rgb(231, 234, 236, .5);
}

/* card */
.ezy__header30_amwY6uCW .card {
  background-color: transparent;
  border: 0 !important;
  border-radius: 10px;
}

.ezy__header30_amwY6uCW-card-content {
  position: absolute;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
}

.ezy__header30_amwY6uCW-card-content h4 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 0;
}

.ezy__header30_amwY6uCW-card-content p {
  font-size: 16px;
  margin-bottom: 0;
  opacity: 0.8;
}

.ezy__header30_amwY6uCW-courses .btn {
  padding: 12px 30px;
  font-size: 15px;
}

.ezy__header30_amwY6uCW-search-form .btn {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

/* prev and next btn */
.ezy__header30_amwY6uCW-courses .carousel-control-prev,
.ezy__header30_amwY6uCW-courses .carousel-control-next {
  width: 50px;
  height: 50px;
  font-size: 22px;
  background-color: rgba(var(--ezy-theme-color-rgb), 0.7);
  color: #fff;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  transition: 0.4s;
}

.ezy__header30_amwY6uCW-courses .carousel-control-prev:hover,
.ezy__header30_amwY6uCW-courses .carousel-control-next:hover {
  background-color: rgba(var(--ezy-theme-color-rgb), 1);
  color: #fff;
}

@media (min-width: 576px) {
  .ezy__header30_amwY6uCW-courses .carousel-control-prev {
    left: -10px;
  }

  .ezy__header30_amwY6uCW-courses .carousel-control-next {
    right: -10px;
  }
}

.ezy__portfolio12 {
  /* Bootstrap variables */
  --bs-body-bg: rgb(255, 255, 255);

  /* Easy Frontend variables */
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;
  --ezy-play-btn-bg: 255, 255, 255;
  --ezy-card-bg: #f2f3f8;
  --ezy-border-color: #c9c9c9;

  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  overflow: hidden;
  padding: 60px 0;
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  .ezy__portfolio12 {
    padding: 100px 0;
  }
}

/* Gray Block Style */
.gray .ezy__portfolio12,
.ezy__portfolio12.gray {
  /* Bootstrap variables */
  --bs-body-bg: rgb(246, 246, 246);

  /* Easy Frontend variables */
  --ezy-card-bg: #ffffff;
  --ezy-border-color: #c9c9c9;
}

/* Dark Gray Block Style */
.dark-gray .ezy__portfolio12,
.ezy__portfolio12.dark-gray {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(30, 39, 53);

  /* Easy Frontend variables */
  --ezy-card-bg: rgb(11, 23, 39);
  --ezy-border-color: #676767;
}

/* Dark Block Style */
.dark .ezy__portfolio12,
.ezy__portfolio12.dark {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);

  /* Easy Frontend variables */
  --ezy-card-bg: rgb(30, 39, 53);
  --ezy-border-color: #676767;
}

.ezy__portfolio12-heading {
  font-weight: bold;
  font-size: 25px;
  line-height: 1;
}

@media (min-width: 768px) {
  .ezy__portfolio12-heading {
    font-size: 45px;
  }
}

/* nav */
.ezy__portfolio12 .nav a {
  background-color: transparent !important;
  color: var(--bs-body-color) !important;
  border-radius: 0;
  opacity: 0.8;
  transition: 0.4s;
}

.ezy__portfolio12 .nav a:hover {
  opacity: 1;
}

.ezy__portfolio12 .nav a.active,
.ezy__portfolio12 .nav a:hover {
  border-bottom: 2px solid var(--ezy-theme-color);
  opacity: 1;
}

.ezy__portfolio12-btn {
  font-size: 16px;
  background-color: transparent;
  color: var(--bs-body-color);
}

.ezy__portfolio12-btn:hover {
  color: var(--ezy-theme-color);
}

/* card */
.ezy__portfolio12 .card {
  background-color: var(--ezy-card-bg);
  border: 0;
}

.ezy__portfolio12 .card a {
  text-decoration: none;
  color: var(--bs-body-color);
  cursor: pointer;
}

.ezy__portfolio12 .card-text {
  font-size: 15px;
  opacity: 0.8;
}

.ezy__portfolio12 .card-title {
  font-size: 19px;
  font-weight: 500;
  line-height: 1.3;
}

.ezy__portfolio12 .card h4 {
  font-size: 16px;
}

.ezy__portfolio12-card-btn {
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 20px;
  line-height: 1;
}

.ezy__portfolio12-card-btn:hover {
  color: #fff !important;
}

/* play btn */
.ezy__portfolio12-play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: rgba(var(--ezy-play-btn-bg), 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.ezy__portfolio12-play-btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(var(--ezy-play-btn-bg), 0.2);
  border-radius: 50%;
  width: 65px;
  height: 65px;
}

/* img */

/* .mt-4 .card .position-relative {
  text-align: center;
}
.mt-4 .card img {
  margin-top: 2rem;
} */

/* btn */
.ezy__portfolio12 .btn-outline {
  border-color: var(--ezy-theme-color);
  color: var(--ezy-theme-color);
}

.ezy__portfolio12 .btn-outline:hover {
  color: #fff;
  border-color: rgba(var(--ezy-theme-color-rgb), 0.9);
  background-color: rgba(var(--ezy-theme-color-rgb), 0.9);
}

/* pagination */
/* .ezy__portfolio12-pagination .page-link {
  background-color: transparent;
  border: 1px solid var(--ezy-border-color);
  padding: 7px 13px;
  font-size: 14px;
  color: var(--bs-body-color);
  border-radius: 8px;
}

.ezy__portfolio12-pagination .page-link:hover,
.ezy__portfolio12-pagination .page-link.active {
  background-color: rgba(var(--ezy-theme-color-rgb), 0.9) !important;
  color: #f6f6f6;
  border: 1px solid rgba(var(--ezy-theme-color-rgb), 0.9);
}

.ezy__portfolio12-arrow {
  color: #fff !important;
  background-color: var(--ezy-theme-color) !important;
  border: 1px solid var(--ezy-theme-color) !important;
  border-radius: 8px !important;
}

@media (min-width: 567px) {
  .ezy__portfolio12-pagination .page-link {
    padding: 10px 18px;
    font-size: 18px;
  }
} */

/* ICONS */

.col-12.col-sm-6.col-lg-4.col-xl-3.mt-4 .close {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  text-indent: 4rem;
  overflow: hidden;
  white-space: nowrap;
}

.col-12.col-sm-6.col-lg-4.col-xl-3.mt-4 .close:before {
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    content: '';
    display: block;
    position: absolute;
    top: 0.25rem;
    left: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    background: rgb(228, 225, 225);
    background-position: center;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='20px' viewBox='0 0 20 20' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %23808080%3B stroke-width: 1%3B %7D%3C/style%3E%3Cline x1='2' y1='2' x2='18' y2='18' /%3E%3Cline x1='18' y1='2' x2='2' y2='18' /%3E%3C/svg%3E");
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }

  .col-12.col-sm-6.col-lg-4.col-xl-3.mt-4 .close:hover:before {
    background-color: rgba(41, 36, 36, 0.267);
  }

  .col-12.col-sm-6.col-lg-4.col-xl-3.mt-4 .close:active:before {
    background-color: rgba(68, 64, 64, 0.425);
  }



  /* TECH OVERVIEW PAGE */







  /* GLOBAL */

  a:link {
    text-decoration: none;
  }